WebClient/Connected Services/ServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/КР_8/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/%D0%9A%D0%A0_8" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/КР_8/Service/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetProviders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/%D0%9A%D0%A0_8" minOccurs="0" name="GetProvidersResult" nillable="true" type="q1:ArrayOfDataProviders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/%D0%9A%D0%A0_8" minOccurs="0" name="GetInvoicesResult" nillable="true" type="q2:ArrayOfDataInvoices" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Providers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProvidersResult" nillable="true" type="q3:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewProviderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="provider_id" type="xs:int" />
        <xs:element minOccurs="0" name="summary" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewInvoiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>