WebClient/Connected Services/ServiceReference/item42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/%D0%9A%D0%A0_8" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/%D0%9A%D0%A0_8" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataProviders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataProviders" nillable="true" type="tns:DataProviders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataProviders" nillable="true" type="tns:ArrayOfDataProviders" />
  <xs:complexType name="DataProviders">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provider" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataProviders" nillable="true" type="tns:DataProviders" />
  <xs:complexType name="ArrayOfDataInvoices">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataInvoices" nillable="true" type="tns:DataInvoices" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataInvoices" nillable="true" type="tns:ArrayOfDataInvoices" />
  <xs:complexType name="DataInvoices">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provider_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataInvoices" nillable="true" type="tns:DataInvoices" />
</xs:schema>