WebClient/Connected Services/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/КР_8/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/КР_8/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/КР_8/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/%D0%9A%D0%A0_8" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/КР_8/Service/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetProviders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProviders" />
  </wsdl:message>
  <wsdl:message name="IService_GetProviders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoices" />
  </wsdl:message>
  <wsdl:message name="IService_GetInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Providers_InputMessage">
    <wsdl:part name="parameters" element="tns:Providers" />
  </wsdl:message>
  <wsdl:message name="IService_Providers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NewProvider_InputMessage">
    <wsdl:part name="parameters" element="tns:NewProvider" />
  </wsdl:message>
  <wsdl:message name="IService_NewProvider_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewProviderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NewInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:NewInvoice" />
  </wsdl:message>
  <wsdl:message name="IService_NewInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetProviders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProviders" message="tns:IService_GetProviders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProvidersResponse" message="tns:IService_GetProviders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetInvoices" message="tns:IService_GetInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetInvoicesResponse" message="tns:IService_GetInvoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Providers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Providers" message="tns:IService_Providers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ProvidersResponse" message="tns:IService_Providers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewProvider">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/NewProvider" message="tns:IService_NewProvider_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/NewProviderResponse" message="tns:IService_NewProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/NewInvoice" message="tns:IService_NewInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/NewInvoiceResponse" message="tns:IService_NewInvoice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProviders">
      <soap:operation soapAction="http://tempuri.org/IService/GetProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <soap:operation soapAction="http://tempuri.org/IService/GetInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Providers">
      <soap:operation soapAction="http://tempuri.org/IService/Providers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewProvider">
      <soap:operation soapAction="http://tempuri.org/IService/NewProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewInvoice">
      <soap:operation soapAction="http://tempuri.org/IService/NewInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/%D0%9A%D0%A0_8/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>